<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta name="keywords" content="jquery,ui,easy,easyui,web" />
<link rel="stylesheet" type="text/css" href="/plugin/icon.css" />
<link rel="stylesheet" type="text/css" href="/plugin/demo.css" />
<link rel="stylesheet" type="text/css" href="/plugin/easyui.css" />
<script type="text/javascript" src="/plugin/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/plugin/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/plugin/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/plugin/jquery.edatagrid.js"></script>
<script type="text/javascript">

var j=jQuery.noConflict();
</script>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"></link>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>






<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script>
	function test() {
		if (event.keyCode == 13) {

			document.getElementById('quantit').focus();

			j.ajax({
				type : 'POST',
				url : "/getCode",
				data : {
					"term" : j("#prd").val()
				},
				success : function(result) {
					document.getElementById('code').value = result;
				}
			});
		} else {
			$(function() {

				$("#prd").autocomplete({
					source : "/autoproduit"

				});
			});
		}
	}
</script>
<script>
	function verif() {
		if (event.keyCode == 13) {

			if (document.getElementById('code').value.toString() == "0") {
				alert("Produit inexistant");
			} else {
				if (document.getElementById('quantit').value.toString() == "") {
					alert("Donnez une quantité");
				} else {
					j.ajax({
						type : 'POST',
						url : "/verif",
						data : {
							"term" : j("#code").val(),
							"term1" : j("#quantit").val()
						},
						success : function(result) {
							if (result != "Quantité supérieur"||result!="Saisir de nouveau la désignation ou le code du produit") {
								
							
							location.reload();
								
								
							} else
								alert("Données incorrectes");
						}
					});
				}
			}
		}
	}
</script>
<script>
	j(function() {
		j('#tt').edatagrid({
			title : 'Commande',
			width : 950,
			height : 250,
			singleSelect : true,
			idField : 'id',
			url : '/loaddatacmd',
			updateUrl : '/updatecmd',

			columns : [ [ {
				field : 'categorie',
				title : 'Catégorie',
				width : 100
			}, {
				field : 'id',
				title : 'Code',
				width : 100

			}, {
				field : 'designation_pd',
				title : 'Désignation',
				width : 100

			}, {
				field : 'prix_ht',
				title : 'Prix HT',
				width : 100

			}, {
				field : 'quantite',
				title : 'Quantité',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'total',
				title : 'Total',
				width : 100
				
			} ] ],

		});
	});
	function Affichesum()
	{
		j.ajax({
			type : 'POST',
			url : "/getsum",
			
			success : function(result) {
				
				document.getElementById('tota').innerHTML = result;
			}
		});
		
	}
</script>
<script type="text/javascript">
function updaterow()
{
	j('#tt').edatagrid('saveRow');
	location.reload();
	}

</script>
</head>
<body onload="Affichesum();">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation" class="active"><a href="/caisse">Home</a></li>
					<li role="presentation"><a href="/newcat">Catégorie
							Produit</a></li>
					<li role="presentation"><a href="/fichepd">Getion des
							produit</a></li>
					<li role="presentation"><a href="/client">Gestion des
							Clients</a></li>
					<li role="presentation"><a href="/employe">Getion des
							employés</a></li>
				</ul>
			</div>
		</div>
	</div>



	<label for="prd">Désignation </label>

	<input id="prd" onKeyPress="test();"></input>
	<label> Code</label>
	<input id="code"></input>
	<label>Quantité</label>
	<input id="quantit" onKeyPress="verif();"></input>

	<br />
	<br />
	<br />
	<table>
	<tr>
	
	<td style="margin-bottom: 250px"><div>

		<table id="tt" toolbar="#toolbar" pagination="true" rownumbers="true"
			fitColumns="true">
		</table>
	</div>
	<div id="toolbar">
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove"
			plain="true" onClick="javascript:j('#tt').edatagrid('destroyRow')">Supprimer</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"
			onClick="updaterow();">Enregistrer</a> <a
			href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true"
			onClick="javascript:j('#tt').edatagrid('cancelRow')">Annuler</a>
	</div></td>
	<td width="20px"> </td>
	<td style="margin-top: -50px">
	<div style="background-color: aqua;width: 400px;height: 400px" id="sanscode">
	<table>
	<tr>
	<td width="40px"></td>
	<td height="80" width="100"><input type="button" title="carotte" value="carotte" style="height: 80px;width: 100px;"/></td>
	<td width="10px"></td>
	<td height="80" width="100"><input type="button" title="pain" style="height: 80px;width: 100px;"/></td>
	<td width="10px"></td>
	<td height="80" width="100"><input type="button" title="baguette" style="height: 80px;width: 100px;"/></td>
	</tr>
	
	</table>
	
	
	</div>
	</td>
	</tr>
	</table>
	
	
<b style="color: blue;font-size: x-large;">Total: </b><b id="tota" style="color: blue;font-size: x-large;"></b><b style="color: blue;font-size: x-large;"> euros</b>
</body>
</html>