<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
<meta name="keywords" content="jquery,ui,easy,easyui,web" />
<link rel="stylesheet" type="text/css" href="/plugin/icon.css" />
<link rel="stylesheet" type="text/css" href="/plugin/demo.css" />
<link rel="stylesheet" type="text/css" href="/plugin/easyui.css" />
<script type="text/javascript" src="/plugin/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/plugin/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/plugin/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/plugin/jquery.edatagrid.js"></script>
<script type="text/javascript">
	function validation(f) {
		if (f.pwd1.value == '' || f.pwd2.value == '') {
			alert('Tous les champs ne sont pas remplis');
			f.mdp1.focus();
			return false;
		} else if (f.pwd1.value != f.pwd2.value) {
			alert('Ce ne sont pas les mêmes mots de passe!');
			f.mdp1.focus();
			return false;
		} else if (f.pwd1.value == f.pwd2.value) {
			return true;
		} else {
			f.pwd1.focus();
			return false;
		}
	}
</script>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Nouvelle Catégorie</title>
<script>
	function divaffiche() {
		document.getElementById("popup").style.display = "block";
		document.getElementById("cache").style.display = "inline";
		document.getElementById("voir").style.display = "none";
	}
	$(function() {
		$('#tt').edatagrid({
			title : 'Liste des employés',
			width : 950,
			height : 250,
			singleSelect : true,
			idField : 'id',
			url : '/loaddataem',
			updateUrl : '/updatedataem',
			destroyUrl : '/deletedataem',
			columns : [ [ {
				field : 'role',
				title : 'Role',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			},
			{
				field : 'nom_emp',
				title : 'Nom',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'pre_emp',
				title : 'Prénom',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'dat_nai_emp',
				title : 'Date de naissance',
				width : 100,
				editor : {
					type : 'datebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'sex_emp',
				title : 'Sexe',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'tel_emp',
				title : 'Télèphone',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'mail_emp',
				title : 'Email',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'adr_emp',
				title : 'Adresse',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			} ] ],

		});
	});
</script>
<style>
#cent {
	position: absolute;
	left: 10%;
	margin-left: 40px;
}
</style>
</head>
<body>

	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation"><a href="/caisse">Home</a></li>
					<li role="presentation"><a href="/newcat">Catégorie
							Produit</a></li>
					<li role="presentation"><a href="/fichepd">Getion des
							produit</a></li>
					<li role="presentation"><a href="/client">Gestion des
							Clients</a></li>
					<li role="presentation" class="active"><a href="/employe">Getion
							des employés</a></li>
					<li role="presentation"><a href="/histo">Historique</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="cent">
		<input type="button" id="voir" value="Ajouter Employé."
			class="btn btn-primary" onClick="divaffiche()"
			style="display: inline;" />

		<form action="#" th:action="@{/employe}" th:object="${employe}"
			method="post" onSubmit="return validation(this)">
			<div id="popup" style="display: none;">
				<fieldset
					style="border: solid 1px black; padding: 20px; width: 950px; color: midnightblue; font-family: verdana;">



					<label>Nom:</label> <input type="text" name="nom"
						th:field="*{nom_emp}" required="required" /> <label>Prenom:</label>
					<input type="text" name="pre" th:field="*{pre_emp}"
						required="required" /> <label>Date Naissance:</label> <input
						type="date" name="date" th:field="*{dat_nai_emp}" max="24-02-2013"
						min="1920-01-01" required="required" />

					<table>
						<tr>
							<td><label>Genre :</label></td>
							<td width="30px"></td>
							<td><label class="radio" for="radios-0"> <input
									type="radio" name="radios" id="radios-0" value="Homme"
									checked="checked" th:field="*{sex_emp}" /> Homme
							</label></td>
							<td width="30px"></td>
							<td><label class="radio" for="radios-1"> <input
									type="radio" name="radios" id="radios-1" value="Femme"
									th:field="*{sex_emp}" /> Femme
							</label></td>
						</tr>
					</table>

					<label>Email:</label> <input type="email" name="email"
						th:field="*{mail_emp}" required="required" /> <label>Adress:</label>
					<input type="text" name="adr" th:field="*{adr_emp}"
						required="required" /> <label>Téléphone:</label> <input
						type="text" name="tel" th:field="*{tel_emp}" required="required" />

					<br /> <br /> <label>Mot de passe:</label> <input id='pwd1'
						type="password" name="pwd1" th:field="*{mp_emp}"
						required="required" /> <label>Confirmation:</label> <input
						id='pwd2' type="password" name="pwd2" required="required" /> <label>Role:</label>
					<select th:field="*{role}">
						<option value="admin">admin</option>
						<option value="user">user</option>
					</select> <br />
					<table>
						<tr>
							<td><input type="submit" class="btn btn-success"
								value="Valider" /></td>
							<td><input type="reset" class="btn btn-danger"
								value="Annuler" /></td>
						</tr>
					</table>

				</fieldset>

			</div>
			<br />
			<div>

				<table id="tt" toolbar="#toolbar" pagination="true"
					rownumbers="true" fitColumns="true">
				</table>
			</div>
			<div id="toolbar">
				<a href="#" class="easyui-linkbutton" iconCls="icon-remove"
					plain="true" onClick="javascript:$('#tt').edatagrid('destroyRow')">Supprimer</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-save"
					plain="true" onClick="javascript:$('#tt').edatagrid('saveRow')">Enregistrer</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-undo"
					plain="true" onClick="javascript:$('#tt').edatagrid('cancelRow')">Annuler</a>
			</div>

		</form>


		<div id="footer">
			<p style="margin: auto; width: 25%">&copy; copyright M2 MIAGE</p>
		</div>

	</div>





</body>
</html>