<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>HOME</title>
    </head>
    <body>
        <h1>Welcome You!</h1>

        <p>Click <a th:href="@{/client}">here</a> Gestion client</p>
        <p>Click <a th:href="@{/employe}">here</a> Gestion employe</p>
        <p>Click <a th:href="@{/newcat}">here</a> Gestion Catégorie.</p>
       
    </body>
</html>