<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Nouvelle Catégorie</title>
</head>
<body>
<form action="#" th:action="@{/newcat}"  th:object="${categorieProduit}" method="post">
	
	 <table>
    <tr>
    <td>
 Désignation:
    </td>
    <td>
    <input type="text" th:field="*{designation}" />
    </td>
    </tr>
    <tr>
    <td><input type="submit" value="Valider" /></td>
    <td><input type="reset" value="Annuler" /></td>
    </tr>
    </table>    
    </form>
   
</body>
</html>