<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Nouvelle Catégorie</title>
</head>
<body>
<form action="#" th:action="@{/newcat}"  th:object="${categorieProduit}" method="post">
	
	 <table>
    <tr>
    <td>
 Désignation:
    </td>
    <td>
    <input type="text" th:field="*{designation}" />
    </td>
     <td th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}">designation Error</td>
    </tr>
    <tr>
    <td><input type="submit" value="Valider" /></td>
    <td> <a th:href="@{/fichepd}">edit</a></td>
    <td><input type="reset" value="Annuler" /></td>
    </tr>
    </table>    
    <table border="2">
   <th>numéro</th>
   <th>désignation</th>
   <tr th:each="categorieProduit : ${categorieProduits}">
   <td th:text="${categorieProduit.id}"></td>
    <td th:text="${categorieProduit.designation}"></td>
   </tr>
   </table>
    </form>
   
</body>
</html>