<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />


<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
<meta name="keywords" content="jquery,ui,easy,easyui,web" />
<link rel="stylesheet" type="text/css" href="/plugin/icon.css" />
<link rel="stylesheet" type="text/css" href="/plugin/demo.css" />
<link rel="stylesheet" type="text/css" href="/plugin/easyui.css" />
<script type="text/javascript" src="/plugin/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/plugin/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/plugin/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/plugin/jquery.edatagrid.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Client</title>
<script>
	function divaffiche() {
		document.getElementById("popup").style.display = "block";
		document.getElementById("cache").style.display = "inline";
		document.getElementById("voir").style.display = "none";
	}
	$(function() {
		$('#tt').edatagrid({
			title : 'Liste des clients',
			width : 950,
			height : 250,
			singleSelect : true,
			idField : 'id',
			url : '/loaddataClt',
			updateUrl : '/updatedataClt',
			destroyUrl : '/deletedataClt',
			columns : [ [

			{
				field : 'nom',
				title : 'Nom',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'prenom',
				title : 'Prénom',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'date_naissance',
				title : 'Date de naissance',
				width : 100,
				editor : {
					type : 'datebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'sexe',
				title : 'Sexe',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'telephone',
				title : 'Télèphone',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'email',
				title : 'Email',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'adress',
				title : 'Adresse',
				width : 100,
				editor : {
					type : 'validatebox',
					options : {
						required : true
					}

				}
			}, {
				field : 'cartefid',
				title : 'Num carte',
				width : 100

			}

			] ],

		});
	});
</script>
<style>
#cent {
position: absolute; 
left: 10%; 
margin-left: 40px;


}
</style>

</head>
<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation"><a href="/caisse">Home</a></li>
					<li role="presentation" class="active"><a href="/client">Gestion
							des Clients</a></li>
				</ul>
			</div>
		</div>
	</div>

<div id="cent">
	<input type="button" id="voir" value="Ajouter Client."
		class="btn btn-primary" onClick="divaffiche()"
		style="display: inline;" />
	<form action="#" th:action="@{/client}" th:object="${client}"
		method="post" onsubmit="divaffiche()">
		<div id="popup" style="display: none;">
			<fieldset style="border:solid 1px black; padding:20px; width:950px; color:midnightblue; font-family:verdana;">



				<label class="control-label" for="textinput"> Nom:</label> <input
					type="text" name="nom" th:field="*{nom}" required="required" /> <label
					class="control-label" for="textinput">Prenom:</label> <input
					type="text" name="pre" th:field="*{prenom}" required="required" />
				<label class="control-label" for="textinput">Date Naissance:</label>
				<input type="date" name="date" th:field="*{date_naissance}"
					max="24-02-2013" min="1920-01-01" /> <br />
				<table>
					<tr>
						<td><label class="control-label" for="textinput">Genre</label></td>
						<td width="30px"></td>
						<td><label class="radio" for="radios-0"> <input
								type="radio" name="radios" id="radios-0" value="Homme"
								checked="checked" th:field="*{sexe}" /> Homme
						</label></td>
						<td width="30px"></td>
						<td><label class="radio" for="radios-1"> <input
								type="radio" name="radios" id="radios-1" value="Femme"
								th:field="*{sexe}" /> Femme
						</label></td>
					</tr>

				</table>




				<label class="control-label" for="textinput">Telephone:</label> <input
					type="text" name="tel" th:field="*{telephone}" required="required" />


				<label class="control-label" for="textinput"> Email:</label> <input
					type="email" name="email" th:field="*{email}" required="required" />





				<label class="control-label" for="textinput">Adress:</label> <input
					type="text" name="adr" th:field="*{adress}" required="required" />
				<br />
				<div id="fid">
					<fieldset>
					<br />	<label class="control-label" for="textinput">Num carte:</label> <label
							th:field="*{cartefid}" th:text="${client.getCartefid()}">
						</label>
					</fieldset>
				</div>





				<br /> <input type="submit" class="btn btn-success" value="Valider" />
				<input type="reset" class="btn btn-danger" value="Annuler" />



			</fieldset>
		</div>

		<br />
		<div>

			<table id="tt" toolbar="#toolbar" pagination="true" rownumbers="true"
				fitColumns="true">
			</table>
		</div>
		<div id="toolbar">
			<a href="#" class="easyui-linkbutton" iconCls="icon-remove"
				plain="true" onClick="javascript:$('#tt').edatagrid('destroyRow')">Supprimer</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-save"
				plain="true" onClick="javascript:$('#tt').edatagrid('saveRow')">Enregistrer</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-undo"
				plain="true" onClick="javascript:$('#tt').edatagrid('cancelRow')">Annuler</a>
		</div>
	</form>


	<div id="footer">
		<p style="margin: auto; width: 25%">&copy; copyright M2 MIAGE</p>
	</div>
</div>
</body>
</html>
